.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header_left {
    flex: 0.8;
    min-width: 70px;
    background-color: white;
    color: grey;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header_left>input {
    border: none;
    width: 100%;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
}

.header_left>input:focus {
    outline: none;
} 

.header_right {
    display: flex;
    align-items: center;
}

.header_right>h4 {
    margin-left: 10px;
}